body {
  padding-top: 250px; /* ensures all pages content is below fixed navbar */
}

h1.text-center {
  margin-bottom: 40px; /* adds space below the heading */
}
.card {
  margin-bottom: 30px; /* space between rows */
}
.product-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.product-modal-content {
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  max-width: 600px;
  width: 90%;
  text-align: center;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.modal-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 28px;
  color: #333;
  cursor: pointer;
}
