<div class="login-page">
  <h1 class="text-center display-5 mb-4">Login here</h1>

  <div class="login-container">
    <div class="card p-4">
      <form (ngSubmit)="submitdata()">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter email"
            required
            name="email"
            [(ngModel)]="reg.email"
          />
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Enter password"
            required
            name="password"
            [(ngModel)]="reg.password"
          />
        </div>

        <div class="d-flex justify-content-center mb-3">
          <button type="submit" class="btn btn-outline-success">
            Login
          </button>
        </div>

        <!-- Create Account Link -->
        <p class="text-center">
          Don't have an account? 
          <a routerLink="/register">Create Account</a>
        </p>
      </form>
    </div>
  </div>
</div>