.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  background-color: #f8f9fa;
}

.card {
  max-width: 450px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.btn-outline-success {
  width: 100%;
  font-weight: 600;
}

h3 {
  color: #198754;
}
