<div class="container-fluid" style="margin-top:100px;">
  <div class="rowg-6 justify-content-center">
    <div class="col-sm-12 mt-6 mb-6">
      
      <div class="image-box">
        <a [routerLink]="['/displaypage', 'Dairy, Bread & Eggs']"><img src="assets/Dairy.avif" alt="Dairy" width="250" height="250"></a>
        <a [routerLink]="['/displaypage', 'Fruits & Vegetables']"><img src="assets/Fruits.avif" alt="Fruits" width="250" height="250"></a>
        <a [routerLink]="['/displaypage', 'Cold Drinks & Juices']"><img src="assets/Drinks.avif" alt="Drinks" width="250" height="250"></a>
        <a [routerLink]="['/displaypage', 'Breakfast & Instant Food']"><img src="assets/Breakfast.avif" alt="Drinks" width="250" height="250"></a>
        <a [routerLink]="['/displaypage', 'Sweet Tooth']"><img src="assets/sweets.avif" alt="Drinks" width="250" height="250"></a>
        <a [routerLink]="['/displaypage', 'Bakery & Biscuits']"><img src="assets/Bakery.avif" alt="Drinks" width="250" height="250"></a>
        <a [routerLink]="['/displaypage', 'Tea, Coffee & Health Drink']"><img src="assets/TeaCoffee.avif" alt="Drinks" width="250" height="250"></a>
        <a [routerLink]="['/displaypage', 'Atta, Rice & Dal']"><img src="assets/AttaRice.avif" alt="Drinks" width="250" height="250"></a>
        <a [routerLink]="['/displaypage', 'Masala, Oil & More']"><img src="assets/MasalaOil.avif" alt="Drinks" width="250" height="250"></a>
        <a [routerLink]="['/displaypage', 'Sauces & Spreads']"><img src="assets/Sauses.avif" alt="Drinks" width="250" height="250"></a>
        <a [routerLink]="['/displaypage', 'Snacks & Munchies']"><img src="assets/Snacks.avif" alt="Drinks" width="250" height="250"></a>
        <a [routerLink]="['/displaypage', 'Chicken, Meat & Fish']"><img src="assets/Chicken.avif" alt="Drinks" width="250" height="250"></a>
      </div>
    </div>
  </div>
</div>


